# Dart/Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
coverage/

# Android/iOS/macOS/Windows/Linux generated
**/android/.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec

# IDE
.idea/
*.iml
.vscode/

# Misc
*.log
.DS_Store
